@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 100% 98.43%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 100% 98.43%;
        --popover-foreground: 240 10% 3.9%;
        --primary : 172 31% 62%;
        --primary-foreground: 52 42% 91%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 255 5% 70%;
        --muted-foreground: 240 0% 25%;
        --muted: 255 5% 70%;
        --accent-foreground: 240 3.8% 65%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 202 11% 40%;
        --input: 202 11% 40%;
        --ring: 172 31% 62%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --eRed: 359 68% 70%;
        --eOrange: 19 69% 68%;
        --eYellow: 48 100% 67%;
        --eGreen: 83 34% 63%;
        --eBlue: 172 31% 62%;
        --eLavender: 231 97% 85%;
        --ePurple : 238.1 25.1% 50.78%;
        --eBrown: 21 16% 58%;
    }
}

@view-transition {
    navigation: auto;
}

@media (min-width:1280px) {
    .splide__arrow svg{
        fill:black !important;
        height:3rem !important;
        width:3rem !important;
        stroke:lightgray !important;
        stroke-width:0.15rem !important;
        stroke-linejoin:round !important;
    }
}

@layer base {
    * {
        @apply border-border;
    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    [x-cloak] {
        display: none !important;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* ::-webkit-scrollbar { */
    /*   background: hsl(var(--muted)); */
    /*   width: 5px; */
    /* } */
    /**/
    /* ::-webkit-scrollbar-thumb { */
    /*   background: hsl(var(--eGreen)); */
    /*   border-radius:8px; */
    /* } */
    /**/

    .hx-fade-out.htmx-swapping {
      opacity: 0;
      transition: opacity 250ms ease-out;
    }

    .hx-fade-in.htmx-added {
      opacity: 0;
    }

    .hx-fade-in{
      opacity: 1;
      transition: opacity 250ms ease-out;
    }
} 
