@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --background: 47 100% 95%;
        --foreground: 240 10% 3.9%;
        --card: 0 100% 98.43%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 100% 98.43%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 172 31% 62%;
        --primary-foreground: 52 42% 91%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 255 5% 70%;
        --muted-foreground: 240 0% 25%;
        --muted: 255 5% 70%;
        --accent-foreground: 240 3.8% 65%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 202 11% 40%;
        --input: 202 11% 40%;
        --ring: 172 31% 62%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --eRed: 359 68% 70%;
        --eOrange: 19 69% 68%;
        --eYellow: 48 100% 67%;
        --eGreen: 83 34% 63%;
        --eBlue: 172 31% 62%;
        --eLavender: 231 97% 85%;
        --ePurple: 238.1 25.1% 50.78%;
        --eBrown: 21 16% 58%;

        --cms-background: 0 1% 5%;
        --cms-foreground: 41 38% 75%;
        --cms-card: 0 1% 5%;
        --cms-card-foreground: 41 38% 75%;
        --cms-popover: 0 1% 5%;
        --cms-popover-foreground: 41 38% 75%;
        --cms-primary: 83.4, 33.7%, 62.7%;
        --cms-primary-foreground: 0 1% 5%;
        --cms-secondary: 0 1% 5%;
        --cms-secondary-foreground: 41 38% 75%;
        --cms-muted: 240 3.7% 15.9%;
        --cms-muted-foreground: 41 15% 65%;
        --cms-accent: 240 3.7% 15.9%;
        --cms-accent-foreground: 41 38% 75%;
        --cms-destructive: 0 62.8% 30.6%;
        --cms-destructive-foreground: 0 85.7% 97.3%;
        --cms-border: 0 1% 18%;
        --cms-input: 0 1% 18%;
        --cms-ring: 83.4, 33.7%, 62.7%;
        --cms-chart-1: 220 70% 50%;
        --cms-chart-2: 160 60% 45%;
        --cms-chart-3: 30 80% 55%;
        --cms-chart-4: 280 65% 60%;
        --cms-chart-5: 340 75% 55%;
        --bg-gradient: 21deg, rgba(2, 0, 36, 1) 0%, rgba(9, 80, 121, 1) 35%, rgba(0, 66, 79, 1) 100%;
    }
}

@view-transition {
    navigation: auto;
}

@media (min-width:1280px) {
    .splide__arrow svg {
        fill: black !important;
        height: 3rem !important;
        width: 3rem !important;
        stroke: lightgray !important;
        stroke-width: 0.15rem !important;
        stroke-linejoin: round !important;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    .no-cursor {
        cursor: none;

        & * {
            cursor: none;
        }
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--cms-foreground)) hsl(var(--cms-background));
    }

    .bg-dotted {
        background: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.04) 1px, transparent 0) 0 0 / 14px 14px, linear-gradient(#f9feff, #ffffff);
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    [x-cloak] {
        display: none !important;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none !important;
    }

    .scrollbar-hide {
        scrollbar-width: none !important;
    }

    .hx-fade-out.htmx-swapping {
        opacity: 0;
        transition: opacity 150ms ease-out;
    }

    .hx-fade-in.htmx-added {
        opacity: 0;
    }

    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: inline;
    }

    .htmx-request.htmx-indicator {
        display: inline;
    }

    .hx-fade-in {
        opacity: 1;
        transition: opacity 150ms ease-out;
    }

    .cursor-stroke-vertical-transform {
        transform: rotate(35deg) translateY(-2px);
    }

    /*********** Baseline, reset styles ***********/
    .thinRange {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: none;
        width: 25rem;
    }

    /* Removes default focus */
    .thinRange:focus {
        outline: none;
    }

    /******** Chrome, Safari, Opera and Edge Chromium styles ********/
    /* slider track */
    .thinRange::-webkit-slider-runnable-track {
        background-color: transparent;
        border-radius: 0rem;
        height: 1rem;
    }

    /* slider thumb */
    .thinRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        margin-top: 4px;
        /* Centers thumb on the track */
        border: 1px solid black;
        background-color: #faf7f2;
        border-radius: 0.5rem;
        height: 0.5rem;
        width: 2rem;
    }

    .thinRange:focus::-webkit-slider-thumb {
        outline: 0px;
    }

    /*********** Firefox styles ***********/
    /* slider track */
    .thinRange::-moz-range-track {
        background-color: transparent;
        border-radius: 0rem;
        height: 1rem;
    }

    /* slider thumb */
    .thinRange::-moz-range-thumb {
        background-color: #faf7f2;
        border: 1px solid black;
        /*Removes extra border that FF applies*/
        border-radius: 0.5rem;
        height: 0.5rem;
        width: 2rem;
    }

    .thinRange:focus::-moz-range-thumb {
        outline: 0px;
    }

    .animate-background-blur {
        animation: background-blur linear forwards;
        animation-timeline: view();
        animation-range-start: 90vh;
    }

    @keyframes background-blur {
        to {
            opacity: 1;
        }
    }

    *::selection {
        background: hsl(var(--eYellow));
        color: hsl(var(--foreground));
    }

    *::-moz-selection {
        background: hsl(var(--eYellow));
        color: hsl(var(--foreground));
    }

    *::-webkit-selection {
        background: hsl(var(--eYellow));
        color: hsl(var(--foreground));
    }
}
