package layoutTemplates

import (
	"mael/web/templates/components/ui/dialog"
	"mael/web/templates/components/ui/accordion"
	"mael/web/templates/components/ui/dropZone"
	"mael/web/templates/components/ui/selectBox"
	"mael/web/templates/components/ui/tabs"
	"mael/web/templates/components/ui/toast"
	"mael/web/templates/components/ui/input"
	"mael/web/templates/components/ui/animation"
	"mael/web/templates/components/ui/dropDownMenu"
	"mael/web/templates/components/common/cursor"
	toggle "mael/web/templates/components/ui/switchToggle"
	"mael/web/templates/components/animation"
)

templ Scripts(){
    @OnIntersectScript()
    @dialog.DialogScript()
    @accordion.AccordionScript()
    @selectBox.SelectScript()
    @tabs.TabsScript()
    @toggle.ToggleScript()
    @toast.AlertScript()
    @input.InputScript()
    @input.DigitInputScript()
    @dropDownMenu.DropDownMenuScript()
    @animation.OnIntersectScript()
    @cursor.CursorScript()
    @dropZone.DropZoneScript()
    @animationComponent.AnimationSliderScript()
}

var globalScriptHandle = templ.NewOnceHandle();
templ OnIntersectScript(){
    @globalScriptHandle.Once() {
        <script nonce={templ.GetNonce(ctx)}>
            window.$ = document.querySelector.bind(document);
            window.$$ = document.querySelectorAll.bind(document);
        </script>
    }
}
