package dummyTemplates

import (
	"mael/web/templates/components/animation"
	"mael/db/generated"
	"database/sql"
)

templ Dummy() {
    <div class="w-screen h-[90vh]">
        @animationComponent.DefaultAnimationSlider(sqlc.Animation{
            ID: 3,
            Fps: sql.NullInt32{Valid:true, Int32: 12},
            FramesCount: sql.NullInt32{Valid:true, Int32: 103},
        }){
        }
    </div>
}
