package cmsTemplates

templ Nav() {
    <div Class="flex-row w-full gap-4 justify-evenly items-end p-3 h-[5vh] xl:flex hidden">
        @NavLink("ANIMATIONS", "/cms/animation")
        @NavLink("CHARACTERS", "/cms/character")
        @NavLink("ABOUT ME", "/cms/about")
     </div>
}

templ NavLink(title string, toPath string) {
    <div class="font-barlow text-[1.5rem] text-cms-foreground">
        <a href={templ.URL(toPath)}>{title}</a>
    </div>
}
