package cursor

templ Cursor() {
    <div id="custom-cursor" class="cursors rotate-[55deg] origin-left w-min fixed opacity-0 pointer-events-none">
        <div id="cursor-stroke-horizontal" class="bg-black w-[22px] h-[2px] transition-transform duration-300"></div>
        <div id="cursor-stroke-vertical" class="bg-black w-[20px] h-[2px]  transition-transform duration-300 cursor-stroke-vertical-transform origin-left"></div>
    </div>
    <div id="custom-cursor-trail" class="cursors rotate-[55deg] origin-left w-min fixed left-[-100px] top-[-100px] pointer-events-none opacity-0" delay="0" >
        <div class="bg-black bg-opacity-20 w-[22px] h-[2px] transition-transform duration-300 ease-in-out"></div>
        <div class="bg-black bg-opacity-20 w-[20px] h-[2px] transition-transform duration-300 ease-in-out cursor-stroke-vertical-transform origin-left"></div>
    </div>
} 


var cursorHandle = templ.NewOnceHandle();
templ CursorScript(){
    @cursorHandle.Once() {
        <script nonce={templ.GetNonce(ctx)}>
            document.addEventListener('DOMContentLoaded', function() {
                let isMouseInViewport = false;

                //handles mouse-over-navs (anchor tag)
                const navs = $$("a");
                for(let i=0;i<navs.length;i++){
                    const nav = navs[i];
                    nav.addEventListener('mouseover', function() {
                       const cursors = $$(".cursors");
                        for(let j=0;j<cursors.length;j++){
                            const cursor = cursors[j];
                            cursor.children[0].style.transform = "rotate(-55deg) translateX(-6px) translateY(-6px)"
                            cursor.children[1].style.transform = "rotate(215deg) translateX(-12px) translateY(1px)"
                        }
                    });
                    nav.addEventListener('mouseout', function() {
                       const cursors = $$(".cursors");
                        for(let j=0;j<cursors.length;j++){
                            const cursor = cursors[j];
                            cursor.children[0].style.transform = "rotate(0deg) translateX(0) translateY(0)"
                            cursor.children[1].style.transform = "rotate(35deg) translateX(0) translateY(-2px)"
                        }
                    });
                };

                //determinds if mouse is in viewport or not
                document.body.addEventListener('mouseenter', function() {
                    isMouseInViewport = true;
                });

                document.body.addEventListener('mouseleave', function(e) {
                    isMouseInViewport = false;
                    const cursor = $("#custom-cursor");
                    const cursorTrail = $("#custom-cursor-trail");
                    if(!cursor || !cursorTrail) return;
                    cursor.style.opacity = "0";
                    cursorTrail.style.opacity = "0";
                });

                document.body.addEventListener("mousemove", function(event){
                    const x = event.clientX;
                    const y = event.clientY;
                    const cursor = $("#custom-cursor");
                    const cursorTrail = $("#custom-cursor-trail");
                    if(!cursor || !cursorTrail) return;
                    if(isMouseInViewport) {
                        cursor.style.opacity = "100%";
                    }
                    cursor.style.left = x + "px";
                    cursor.style.top = y + "px";

                    const delay = cursorTrail.getAttribute("delay");
                    setTimeout(function(){
                        if(isMouseInViewport) {
                            cursorTrail.style.opacity = "100%";
                        }
                        cursorTrail.style.left = x -5 + "px";
                        cursorTrail.style.top = y  +5+ "px";
                    }, delay);
                })
                document.body.dispatchEvent(new Event("mousemove"));
            })
        </script>
    }
}
